body {
    background: none;
}

.container-geral {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    margin: auto;
}

.titulo-inicial {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    font-size: 18px;
}

.container-financeiro {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mini-containers {
    justify-content: space-around;
    width: 30%;
    height: 200px;
    align-items: baseline;
    border-radius: 8px;
}

.entrada {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: green;
}

.saida {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: crimson;
}

.div-entrada-icone {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.saida-titulo {
    color: crimson;
    font-size: 18px;
}

.entrada-titulo {
    color: rgb(7, 165, 7);
    font-size: 18px;
}

.container-total-icon {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container-total-icon p {
    color: white;
    font-size: 18px;
}

.div-valor-total {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: green;
    width: 30%;
    border-radius: 8px;
}

.div-valor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 50px;
    color: black;
}

.container-dados-gerenciadores {
    display: flex;
    justify-content: space-between;
}

.div-valor-total i {
    color: white;
}

.div-btn-abrir-fechar-form {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#btn-add {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(59, 134, 231);
    color: white;
    border-color: transparent;
}

.div-form {
    display: none;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    border-radius: 8px;
}

.form-add {
    display: grid;
    width: 20rem;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 8px;
    opacity: 1;
}

.form-add #closeButton {
    width: 25px;
    margin-left: 300px;
    color: black;
    border: 1px solid rgb(100, 99, 99);
    background-color: transparent;
}

.div-alterform-btn {
    text-align: end;
}

.closeButtonAlterForm {
    width: 25px;
    margin-left: 300px;
    color: black;
    border: 1px solid rgb(100, 99, 99);
    background-color: transparent;
}

.titulo-form {
    text-align: center;
}

.div-btn-form-add {
    text-align: center;
    margin-top: 1rem;
}

.form-btn-add {
    width: 100%;
    padding: 10px;
    background-color: rgb(98, 151, 221);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.container-form-entrada-saida {
    padding: 10px;
}

.container-form-alter {
    display: none;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    border-radius: 8px;
}

.form-alter-add {
    display: grid;
    width: 20rem;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 8px;
    opacity: 1;
}

#form-btn-add-alter {
    width: 100%;
    padding: 10px;
    background-color: rgb(98, 151, 221);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-excluir-alter:first-child {
    background-color: crimson;
    color: #fff;
    width: 5rem;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-excluir-alter:last-child {
    background-color: rgb(100, 99, 99);
    color: #fff;
    width: 5rem;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.container-data-user {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

#res {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.itens-data-container {
    margin: 3rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 1rem;
    border-radius: 8px;
    width: 20rem;
}

.titulo-item-container {
    text-align: center;
}

.button-alter-exclude-container {
    text-align: center;
}

/* Responsividades */

/* Estilo para telas médias */
@media screen and (max-width: 768px) {
    .container-geral {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .container-geral {
        width: 90%;
    }

    #valor-de-entrada {
        font-size: 20px;
    }

    #valor-de-saida {
        font-size: 20px;
    }

    #valor-total {
        font-size: 20px;
    }
}
