.container-geral {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    padding-left: 10px;
    padding-right: 10px;
}

.container-financeiro {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.entrada {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: green;

}

.saida {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgb(202, 16, 16);
}

.entrada-titulo {
    color: green;
}

.saida-titulo {
    color: rgb(202, 16, 16);
}

.container-total-icon {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container-total-icon p {
    color: white;
}


.mini-containers {
    justify-content: space-around;
    width: 30%;
    height: 200px;
    align-items: baseline;
    border-radius: 8px;
}

.div-entrada-icone {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}



.titulo-inicial {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;

}

.container-dados-gerenciadores {
    display: flex;
    justify-content: space-around;
}

.div-valor-total {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: green;
    width: 30%;
    border-radius: 8px;
}

.div-valor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 50px;
    color: black;
}

.div-valor-total i {
    color: white;
}

#btn-add {
    width: 75px;
    height: 75px;
    border-radius: 50%;

}

.div-btn-adicionar {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#btn-add {
    cursor: pointer;
    background-color: rgb(114, 114, 219);
    color: white;
    border-color: transparent;
}

.div-form {
    display: flex;
    justify-content: center;
}

.form-add {
    display: grid;
    width: 25rem;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 8px;
}

.titulo-form {
    text-align: center;
}

.div-btn-form-add {
    text-align: center;
    margin-top: 1rem;
}

.form-btn-add {
    width: 25rem;
    padding: 10px;
    background-color: rgb(114, 114, 219);
}